misterdiscount/src/main/app/misterdiscount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <data-mapper:config name="Pojo_To_XML" transformationGraphPath="pojo_to_xml.grf" doc:name="Pojo_To_XML"/>
    <data-mapper:config name="XML_To_Pojo" transformationGraphPath="xml_to_pojo.grf" doc:name="XML_To_Pojo"/>
    <flow name="misterdiscountFlow1" doc:name="misterdiscountFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="md"/>
        <cxf:jaxws-service doc:name="MisterDiscount" serviceClass="fr.polytech.unice.soa1.misterDiscount.services.MisterDiscount"/>
        <set-variable variableName="operation" value="#[flowVars.cxf_operation.localPart]" doc:name="Operation"/>
        <choice doc:name="Choice">
            <when expression="#[operation == &quot;takingOrder&quot;]">
                <logger message="createOrder" level="INFO" doc:name="createOrder"/>
                <set-variable variableName="simpleOrder" value="#[payload]" doc:name="Variable"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="misterDiscount/takingOrder" doc:name="misterDiscount/takingOrder"/>
                <scripting:component doc:name="mock receipt">
                    <scripting:script engine="Groovy"><![CDATA[import java.util.*;
import fr.polytech.unice.soa1.misterDiscount.business.*;


Receipt result = new Receipt("OK", flowVars['simpleOrder'], "1213", new Date());

return result;]]></scripting:script>
                </scripting:component>
            </when>
            <otherwise>
                <logger message="default" level="INFO" doc:name="default"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="misterdiscountFlow2" doc:name="misterdiscountFlow2">
        <vm:inbound-endpoint exchange-pattern="one-way" path="misterDiscount/takingOrder" doc:name="misterDiscount/takingOrder"/>
        <set-session-variable variableName="simpleOrder" value="#[message.payload]" doc:name="simpleOrder"/>
        <logger message="#[sessionVars.simpleOrder] " level="INFO" doc:name="order"/>
        <data-mapper:transform config-ref="Pojo_To_XML" input-ref="#[sessionVars[&quot;simpleOrder&quot;]]" doc:name="Pojo To XML"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8080" path="tf/teamforce/customers/1/order" method="POST" doc:name="HTTP"/>
        <data-mapper:transform config-ref="XML_To_Pojo" doc:name="XML To Pojo"/>
        <logger message="hello" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
