misterdiscount/src/main/app/misterdiscount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="misterdiscountFlow1" doc:name="misterdiscountFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="md/"/>
        <cxf:jaxws-service doc:name="MisterDiscount" serviceClass="fr.polytech.unice.soa1.misterDiscount.services.MisterDiscount"/>
        <set-variable variableName="operation" value="#[flowVars.cxf_operation.localPart]" doc:name="Operation"/>
        <choice doc:name="Choice">
            <when expression="#[operation == &quot;takingOrder&quot;]">
                <flow-ref name="invoke_taking_order" doc:name="invoke taking order"/>
            </when>
        </choice>
    </flow>
    <flow name="invoke_taking_order" doc:name="invoke_taking_order">
        <set-variable variableName="Order" value="#[payload]" doc:name="Variable"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
